<div class="modal" id="modal-buy-online" role="dialog">

  <div class="modal-buy-online-header">
    
    <i class="fa fa-times fa-lg modal-buy-online-close" 
       aria-hidden="true"></i>
    
    <div class="row modal-buy-online-header-content vertical-align">
      
      <div class="col-md-4">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/dealer-select.png") %>
      </div>
      
      <div class="col-md-8">
        <h1 class="modal-buy-online-title">Select An Associate</h1>
      </div>
    </div>
  </div>
  
  <div class="modal-buy-online-body">
    <div class="modal-buy-online-body-content">
      
      <h2 class="modal-buy-online-subtitle">
        At Mototrova, we believe in the power of the consumer.
      </h2>
      
      <span class="modal-buy-online-info">
        Select the dealer that you would most like to work with.
      </span>
      
      <div class="modal-buy-online-scroll">
        
        <i class="fa fa-lg fa-chevron-left modal-buy-online-left"></i>

        <i class="fa fa-lg fa-chevron-right modal-buy-online-right"></i>
        
        <ol class="modal-buy-online-list">
          <%= render partial:    'modal_buy_online_item',
                     collection: User.where(
                                   dealership_id: @vehicle.user.dealership_id
                                 ),
                     as:         :dealer %>
        </ol>
      </div>
    </div>
  </div>
</div>